/*
 *  ==============================
 *  We are using variable for the consistency for the color 
 IF in future if we need to update the color so we have to just replace the color HEX code from here
 we don't need to change the color from any component 
 *  ==============================
 */

$primary-color: #8083A3 !default;
$title-color: #1A1C1D;
$white: #FFFFFF;
$border-gray: #ECEEF5;
$button-color: #6B59CC;
$secondary-color: #F3F4F9;
$bg-color: #FAF9FF;